.assistanceConfirmationContainer {
  position: relative;
}

.assistanceConfirmationContainer img {
  display: block;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  opacity: 0.95;
}

.assistanceConfirmationContainer p:first-of-type {
  color: black;
  width: 75vw;
  height: 15vh;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  position: absolute;
  top: 25vh;
  left: 12.5vw;
  right: 12.5vw;
  font-family: "Lato", sans-serif;
}

/* Contact Form */
#none {
  display: none;
}

.contactForm {
  position: absolute;
  max-width: 434px;
  max-height: 286px;
  text-align: center;
  top: 40vh;
}

.contactForm h3 {
  padding: 0;
  margin: 20px 0 0 0;
}
.contactForm input {
  width: 39vw;
  margin: 4vw 1vw;
  border-radius: 4px;
  border: none;
  font-family: var((--font-family));
  padding: 2vw;
  font-size: 14px;
  color: black;
  background: #98acae;
}

.contactForm textarea {
  width: 80vw;
  max-width: 434px;
  height: 150px;
  margin: 0px auto;
  resize: none;
  font-family: var(--font-family);
  border-radius: 4px;
  border: none;
  padding: 5px;
  font-size: 15px;
  color: black;
  background: #98acae;
}

.btn {
  width: 175px;
  height: 40px;
  margin: 16px auto;
  color: white;
  font-weight: 600;
  border: none;
  background: #4a6668;
  padding: 0;
}

#feelback {
  position: absolute;
  height: 35vh;
  width: 90vw;
  background-color: #e7edef;
  color: black;
  font-size: 25px;
  text-align: center;
  padding-top: 15vh;
  top: 35vh;
  left: 5vw;
  right: 5vw;
  z-index: 999;
}

#feelback img {
  width: 90vw;
  height: 8vh;
  object-fit: fill;
}

@media screen and (min-width: 1024px) {
  .contactForm {
    margin-right: auto;
  }
}

@media screen and (min-width: 1600px) {
  .contactForm {
    margin-left: 0px;
    margin-right: 100px;
  }

  .contactForm textarea {
    max-width: 100%;
  }
}
